<h3 style="color:red;">
    
</h3>

<br />
<br />

<h2>Comprar Anuncios  </h2>
<br />
<h3>Usted tiene "{{this.creditosCuenta}}" créditos disponibles</h3>

<br />
<br />
<!-- <h4>Seleccione el anuncio que desea contratar</h4> -->


    @for (anuncio of anunciosList; track $index) {
        <div class="card">
            <div class="card-body">

                <!-- Abajo lo de creditos y valueChange es para que el componente app-anuncio-comprar pueda descontar los créditos 
                 y este componente actualice el valor-->
                <app-anuncio-comprar [anuncio]="anuncio" [creditos]="creditosCuenta" (valueChange)="updateParentValue($event)"></app-anuncio-comprar>

            </div>
        </div>
        
    }



