<br>
    <h3>Filtrar Por Fechas</h3>

    <form required>
        <p><label>Fecha Inicio: </label>
        </p>
        <input [(ngModel)]="_fechaInicio" class="form-control" type="date" name="fechaInicio" required>
        <p><label>Fecha Final: </label>
        </p>
        <input [(ngModel)]="_fechaFin" class="form-control" type="date" name="fechaFin" required>
        <br>
        
        
        <button class="btn btn-success" type="button" (click)="filtrar()">Filtrar</button>
    </form>

    <br>
    <br>
    <h2>TOTAL COSTOS ANUNCIOS: {{costosAnuncios}}</h2>
    <h2>TOTAL INGRESOS REVISTAS: {{ingresosRevistas}} </h2>
    <br>
    <br>

    <h2>Costos Anuncios Individuales: </h2>
    
    <div class="card">
        <div class="card-body">

            @for (anuncio of anuncioFiltradosList; track $index) {

                <br>
                <h4>Anuncio: {{anuncio.idAnuncio}}</h4>
                <p>Fecha: {{anuncio.fechaInicio | date:'yyyy-MM-dd' }}-----Usuario que compró el anuncio: {{anuncio.usuarioQueComproAnuncio}}-----Pago: {{anuncio.costoAnuncioDecimal}}</p>
                   
            }
        </div>
    </div>
    <br>
    <br>
    <h2>Ingresos Revistas Individuales: </h2>
    <div class="card">
        <div class="card-body">

            @for (ocurrencia of valorUnicoRevistaList; ; track $index) {
                <div class="card">
                    <div class="card-body">
                <h4>Revista: {{ocurrencia.numeroRevista}}</h4>
                @for (meGusta of pagosFiltradosList; track $index) {

                    @if (ocurrencia.numeroRevista == meGusta.numeroRevista) {
                        <br>
                        <!-- <h4>Revista reaccionada: {{meGusta.numeroRevista}}</h4> -->
                        <p>Fecha pago: {{meGusta.fechaProceso | date:'yyyy-MM-dd' }}-----Monto: {{meGusta.costoSuscripcion}}</p>
                        <p></p>
                    }   
                }
                    </div>
                </div>
                <br>
    
            }
        </div>
    </div>
        
    
    <br>
    <br>
    <button class="btn btn-success" onclick="location.href='report1'"> Generar Reporte </button>