<!-- <h3>Filtrar Revistas</h3>
                    
                    <form action="" method="POST" required>
                        <p><label>Categorías: </label>
                            <select class="form-control" #categories (change)="onSelected(categories.value)" id="select" name="categorias">
                                <option value="TODAS">--</option>
                                <option value="CIENCIA">Ciencia</option>
                                <option value="FICCION">Ficcion</option>
                                <option value="DEPORTES">Deportes</option>
                                <option value="BELLEZA">Belleza</option>
                                <option value="INFANTIL">Infantil</option>
                                <option value="CARROS">Carros</option>
                                <option value="NOTICIAS">Noticias</option>
                            </select>
                        </p>
                        <p><label>Etiquetas: </label>
                            <select class="form-control" id="select" name="etiquetas">
                                <option value="TODAS">--</option>
                                @for (revista of revistasList; track $index) {
                                <option value="false">{{revista.tagsString}}</option>
                                }
                            </select>
                        </p>
                        <button class="btn btn-success" type="submit">Filtrar</button>
                    </form>
                    <br>
                    <br>

                    

                    <h2>REVISTAS REGISTRADAS en base al filtro : </h2> -->
